//mainheader
#mainheader {
    .subnavig {
       
        margin: 0 auto;
        .subnav {
            margin: 2rem 0;
            display: block;
            text-align: center;
        }
       
    }
}

//showcase 
#showcase {
    .showcase-flex {
        display: block;
        img {
            width: 100%;
        }
        .showcase-content {
            p {
                text-align: justify;
            }
        }
    }
}

//article
#article{
    .article-flex {
        display: block;
        img {
            width: 100%;
        }
        p {
            text-align: justify;
        }
    }
}

//showcase-2
#showcase-2 {
    .showcase-2-flex {
        display: block;
        .row-1, .row-2, .row-3 {
            margin-bottom: 2rem;
        }
    }
}

//quotes
#quotes {
    .quotes-row {
        display: block;
        .quotes-row4{
            margin-bottom: 2rem;
        }
    }
}

//gallery
#gallery {
    .gallery-row{

        img {
            width: 100%;
            margin-bottom: 1rem;
        }
        .gallery-row1 {
            display: block;
        }
    }
}